.app {
  background-color: $body;
  color: $text-body;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 10px;
}

.main {
  transition: all 2s ease-in-out;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: $secondary-dark;
}
