.form-clients {
  .line-btn {
    margin: 10px;
  }
  .line {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    .col {
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    input {
      width: 100%;
      min-width: 300px;
    }
  }
}
