$body: #cfd8dc;
$text-body: #000;

$input: #78909c;
$input-color: #fff;
$input-border: #4b636e;
$input-border-hover: #a7c0cd;
$input-shadow: #000;

//$primary: #dc143c;
//$primary-light: #ffaaaa;
//$primary-dark: #b20d29;

$primary: #37474f;
$primary-light: #62727b;
$primary-dark: #102027;

// $secondary: #a1887f;
// $secondary-ligth: #d3b8ae;
// $secondary-dark: #725b53;

$secondary: #78909c;
$secondary-ligth: #a7c0cd;
$secondary-dark: #4b636e;

$text-primary: #ffffff;
$text-secondary: #efebe9;
